<% var nm = totComments/totQuizes %>
<h1>Estadísticas</h1><br>
<h3>Total preguntas: <%= totQuizes %></h3>
<h3>Total comentarios: <%= totComments %></h3>
<h3>Preguntas con comentarios: <%= cc %></h3>
<h3>Preguntas sin comentarios: <%= sc %></h3>
<h3>Número medio de comentarios: <%= nm %>
